<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>🙉My Portfolio - "Kokou"🙈</title>
    <link rel="stylesheet" href="/styles/style.css">
    <script src="/backend/scripts.js"></script>
</head>
<body>

<div class="body">
    <div class="el Navbar">
        <h1>
            <a href="index.html">KOKOU</a>
        </h1>
    </div>

    <div class="pagesList">
        <ul>
            <li>
                <a href="index.html">Home</a>
            </li>

            <li>
                <a href="Contact.html">Contact</a>
            </li>

            <li>
                <a href="Prices.html">Prices</a>
            </li>
        </ul>
    </div>

    <div class="el LeftSideMenu">
        <p>LeftSideMenu</p>
    </div>

    <div class="el RightSideMenu">
        <p>RightSideMenu</p>
    </div>

    <div class="el PageContent">
        <div class="el PageTitle">
            <h2>🙉Try out this simple page list🙈</h2>
        </div>

        <!--  TodoList Control -->
        <div class="control">
            <button class="addTodo" onclick="Addtodo2List()">Add New todo...</button>
        </div>
        <!--  TodoList Body -->
        <div class="bodyOfTodoList">
            <input type="text" class="todoInput">

            <ul
            </ul>

    <div class="el Footer">
        <p>Footer</p>
    </div>
</div>

</body>
</html>